* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerTimer {
    display: flex;
    justify-self: left;
    align-items: center;
    inset-inline-end:inherit;
    width: 50%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

body {
    background-color:white;
    padding: 0;
    margin: 10%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}


.container {
    width: 800px;
    max-width: 80%;
    background-color: yellowgreen;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.answer-btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 5px 10px
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: medium;
    float: left;
    display: grid;
    padding-right: 30px;
}

#startbtn,
#saveBtn{
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin: 15px 0 15px;
}

#saveBtn {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


#startbtn:hover,
.btn:hover,
.Intbox:hover {
    border-color: gold;
}

.hide {
    display: none;
}

.Intbox {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    float: center;
    align-items: center;
    margin-left: 25%;
}

.score {
    font-weight: bold;
    padding: 15px;
}
